<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板文件</title>
</head>
<body>
<div>
    {% include 'tmp/header.html' %}
</div>
<div>
    <ul>
        <!--
{#        模板引擎的边界符{{  }}#}
    -->
        <li>输出变量 {{ var }}</li>
        {#    没有也不会报错#}
        <li>输出列表 {{ arr }}</li>
        {#    <li>列表第二个 {{ arr[2] }}</li>#}
        <li>列表第二个 {{ arr.2 }}</li>
        {#    html中的注释不能注释掉模板引擎的内容#}
        {% comment %}
        多行注释
        {% endcomment %}
        <li>过滤器的使用: 转小写{{ var | upper }}</li>
        <li>过滤器的使用: 链式使用{{ var | upper |lower}}</li>
        <li>过滤器的使用: {{ con | safe }}</li>
        <li>模板的运算: {{ value | add:3 }}</li>
        {%  load diytags %}
        <li>自定义过滤器转大写:{{ var|yc_upper }}</li>
    </ul>
</div>
<div>
    {% include 'tmp/footer.html' %}
</div>
</body>
</html>