<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    <li>
        <a href="/user/index">跳转到列表页面</a>
        {#硬编码格式#}
        {# 软编码格式#}
    </li>
    <li>
        <a href="{% url 'user_index' %}">还能跳转到列表</a>

    </li>
</ul>
</body>
</html>