<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表页面</title>
</head>
<body>
<div>
    <table border="1" cellspacing="0">

        <th>
            <td>姓名</td>
            <td>邮箱</td>
            <td>年龄</td>
            <td>操作</td>
        </th>
        {# 循环#}
        {% for v in userlist %}
        <tr>
            <td>{{ v.sid }}</td>
            <td>{{ v.name }}</td>
            <td>{{ v.email }}</td>
            <td>{{ v.age }}</td>
            <td><a href="{% url 'stu_edit' %}?uid={{ v.sid }}">编辑</a></td>
            <td><a href="{% url 'stu_del' %}?uid={{ v.sid }}">删除</a></td>
        </tr>
        {% endfor %}

    </table>
</div>
</body>
</html>