<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表页面</title>
</head>
<body>
    <table border="1" cellspacing="0">

        <th>
            <td>姓名</td>
            <td>邮箱</td>
            <td>年龄</td>
        </th>
        {# 循环#}
        {% for v in userlist %}
        <tr>
            <td>{{ v.sid }}</td>
            <td>{{ v.name }}</td>
            <td>{{ v.email }}</td>
            <td>{{ v.age }}</td>
            <td><button>删除</button></td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>